body {
    width: 90%;
    margin: auto;
}

.headings {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #b6d7f7;
    align-items: center; /* Align items vertically in the middle */
}

.headings > p {
    border: 1px solid black;
    padding: 1rem;
}

.deleteBtn {
    background-color: #136DFA;
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    color: white;
}

.btndone {
    margin-left: 1rem;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid black;
    padding: 0.45rem 2rem;
    color: black;
}




.allData {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center; /* Align items vertically in the middle */
    border: 1px solid black;

}

.allData>p{
    border-right: 1px solid black;
    padding: 2rem;
}

.allData>div{
    border-left: 1px solid black;
    padding: 2rem;
}

img{
    height: 5rem;
    width: 5rem;
}
