* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

body{
    background-color: #c8d9da;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #212922a5;
}
.hrBase{
    position: absolute;
}
 hr{
    border: solid 1px;
   transform: rotate(90deg);
 } 

.leftForm{
    display: flex;
    width: 99.8%;
    /* margin:auto; */
    background-color: white;
    height: 100vh;
    display: flex;
}

.leftForm>form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 70%;
}
.rightFrom{
    background-color: white;
    width: 99.8%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.formRight{
    width: 70%;
    height: 40%;
    text-align: center;
}


.anchorBtn{
    width: 8rem;
    align-self:end;
    margin-right: 15%;
    
}


.outerView{
    display: flex;
    position: relative;
    border-radius: 8px;
    width: 100%;
    height: 8rem;
    background-color: #d6c8f8b0;
    margin-top: 1rem;
}
.outerView:hover{
    background-color: #ae93ee24;
}

.innerView{
    text-align: start;
    border-radius: 5px;
    background-color: white;
    margin: auto;
    width: 60%;
    height: 30%;
    padding: .5rem;
}
.badge{
    display: flex;
    position: absolute;
    background-color: blue;
    height: 2.5rem;
    width: 2.5rem;
    margin-top: 0.5%;
    margin-left: 90%;
    border-radius: 50%;
    font-size: 18px;
    padding: auto;
}

@media only screen and (max-width: 750px) {

    .main{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .leftForm{
        height: 50%;
        padding:10%
    }
    .formRight{
        width: 100%;
    }
    .leftForm>form{
        width: 100%;
    }
    .rightFrom{
        margin-top: 1%;
        padding: 5%;
        height: 50%
    }
 
}