<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="http://localhost:3000/user-login" method="post">
        <input type="text" placeholder="Enter User Name" name="username">
        <input type="text" placeholder="Enter User password" name="password">
        <button style="padding: 1rem 2rem;background: #000;color: aliceblue; border-radius: 5px;border: none;">Login</button>
    </form>
</body>
</html>