<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../design/styleAllerUser.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a class="btn btn-outline-primary mb-5" href="http://127.0.0.1:5500/Frontend/components/admin/AdminProfile.html">&#9001 Back</a>
    <div class="Container">
  
        <div class="col"><p>User Id</p></div>
        <div class="col"><p>Name</p></div>
        <div class="col"><p>Photo</p></div>
        <div class="col"><p>Action</p></div>

    </div>
    <div id="data-container"  ></div>
    <script src="getAllUser.js"></script>
</body>
</html>